/******************* NAVIGATION BARS *******************/
/*Set the bootstrap's navbar margin-bottom to 0 to avoid unnecessary margins between the headers*/
.navbar {
    margin-bottom: 0;
}


/******************* BODY *******************/
body{
    font-family: "Myriad Regular","Tahoma","Lucida Sans Unicode","Lucida Grande",sans-serif;
}

/*To avoid having the page too close of the headers*/
#body{
    padding-top: 10px;
    margin-bottom: 10px;
}

/*Place the gryphicon outside of the input*/
.input-group-unstyled input.form-control {
    -webkit-border-radius: 4px !important;
       -moz-border-radius: 4px !important;
            border-radius: 4px !important;
}
.input-group-unstyled .input-group-addon {
    border-radius: 4px;
    border: 0px;
    background-color: transparent;
}
/*Add empty glyphicons for padding purposes*/
.glyphicon-none:before {
    content: "\2122";
    color: transparent !important;
}

/*To add padding to the checkboxes*/
.checkbox-container{
    padding-top: 7px; /*The 7px padding is the standard padding used in bootstrap*/
}

/*To remove the default min-height from the .navbar from 50px to 40px*/
.navbar-tabs{
    min-height: 40px;
}

label {
    margin-bottom: 0px;
}

input[type="checkbox"] {
    margin: 0;
}


/******************* Rabobank style *******************/
/*To change the color of the nav's text*/
.rabobank-style ul.nav a {
    color: #06038d;
    -webkit-transition: color 1s;
    -moz-transition:    color 1s;
    -ms-transition:     color 1s;
    -o-transition:      color 1s;
    transition:         color 1s;
}

.rabobank-style ul.nav a.active{
    color: #FF6600 !important;
}

/*To change the color of the nav's text on hover*/
.rabobank-style ul.nav a:hover {
    color: #FF6600 !important;
    background-color: white !important;
}
.rabobank-style ul.nav a:focus { /*On focus*/
    background-color: white !important;
}

/*Paragraph*/
.rabobank-style p.rabobank-style {
    color: #ed8b00 !important;
}

/* Buttons */
.rabobank-style button{
    background-color: #FF6600 ;
    border-color: #f8f8f8 !important;
    color: #fff;
    border-radius: 4px /15px;
    -webkit-transition: background-color 1s;
    -moz-transition:    background-color 1s;
    -ms-transition:     background-color 1s;
    -o-transition:      background-color 1s;
    transition:         background-color 1s;
    /*Rabobank.com style*/
    padding: 0px 30px;
    line-height: 30px;
}
.rabobank-style button:hover{
    background-color: #ed8b00;
    border-color: #f8f8f8 !important;
    color: #fff;
}
.rabobank-style button:focus{
    background-color: #ed8b00 ;
    border-color: #f8f8f8 !important;
    color: #fff;
}

.rabobank-select{
    background-color: #000099 !important;
   /* border-color: #f8f8f8 !important;*/
    color: #fff;
}
.rabobank-select:hover{
    background-color: #4D4DB7 !important;
    /*border-color: #f8f8f8 !important;*/
    color: #fff;
}

.btn-default {
    min-width: 98px;
}

div.margin-bottom {
    margin-top:35px;
}

/**********************************************************/
/**********************************************************/
/******************* searchResults.html *******************/
/**********************************************************/
/**********************************************************/
/*To center the content in the navbar*/
.navbar-center
{
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
}

nav.rabobank-style{
    background-color: white;
    border: 0px;
}

nav.no-left-margin{
    padding-left: 0px;
}

nav.rabobank-style ul li.active a{
    color: #FF6600;
}

/**********************************************************/
/**********************************************************/
/********************* manageCollections.html *************/
/**********************************************************/
/**********************************************************/
table#collection-table tbody tr td span{
    cursor: pointer !important;
}

#page{
    margin-top: 7px;
}

#leftInfo{
    padding-left: 29px;
}


/**********************************************************/
/**********************************************************/
/********************* manageSearches.html ****************/
/**********************************************************/
/**********************************************************/
.top-buttons-div{
    padding-right: 20px;
}

.top-nav{
    border-bottom:  1px solid rgba(0,0,153,0.06)
}

h1.rabobank-style{
    color: #ed8b00 !important;
    font-family: "Myriad Light","Tahoma","Lucida Sans Unicode","Lucida Grande",sans-serif;
    font-style: normal;
    line-height: 1.3em;
    font-weight: 300;
}

li.top-row a{
    color: #939D9E !important;
    margin-top: 8px;
    margin-bottom: 5px;

    padding-top:5px !important; padding-bottom:5px !important;
    min-height:22px !important;
    border-right: 1px solid rgba(0,0,153,0.06);
}

li.top-row-right a{
    border-right: 0px solid rgba(0,0,153,0.06) !important;
}

/**********************************************************/
/**********************************************************/
/********************* searchResults.html *****************/
/**********************************************************/
/**********************************************************/
tr td:first-child{
    width:1%;
    white-space:nowrap;
}


/**********************************************************/
/**********************************************************/
/********************* collaborationGroup.html ************/
/**********************************************************/
/**********************************************************/

h3.rabobank-style{
    color: #ed8b00;
}
h2.rabobank-style{
    color: #ed8b00;
}

/*Pagination links*/
nav ul.pagination {
    margin: 0px 0;
}

nav ul.pagination li a{
    color: #06038d;
    -webkit-transition: background-color 1s;
    -moz-transition:    background-color 1s;
    -ms-transition:     background-color 1s;
    -o-transition:      background-color 1s;
    transition:         background-color 1s;
    border: 0px;
}
nav ul.pagination li a:hover{
    color: #ed8b00;
    background-color: white;
}
nav ul.pagination li.active a{
    color: #ed8b00;
    background-color: white;
}
nav ul.pagination li.active a:hover{
    color: #ed8b00;
    background-color: white;
}

.nav-tabs{
    border: 0px !important;
}

.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
    color: #777;
    cursor: not-allowed;
    background-color: #fff;
    border-color: #ddd;
    visibility: hidden;
}

/****** POPUPS ********/
h3.panel-title{
    color: #FF6600;
}

/***/
.nav-tabs li.active a{
    border: 0px;
}
.nav-tabs li.active a:hover{
    border: 0px;
}
.nav-tabs li a:hover{
    border: 0px;
}

.table#results-table td:nth-child(3){
   text-align: center;
}

/**********************************************************/
/**********************************************************/
/********************* forms ******************************/
/**********************************************************/
/**********************************************************/
.form-horizontal .control-label {
    text-align: left;
}

/**********************************************************/
/**********************************************************/
/********************* manageFlagRules.html ***************/
/**********************************************************/
/**********************************************************/
.navbar-text {
    margin-left: 0px;
}


/**********************************************************/
/**********************************************************/
/********************* charts *****************************/
/**********************************************************/
/**********************************************************/
.canvas-holder {
   width: 100%;
   text-align:center;
}
canvas {
   display: inline;
}

/* Drop down menu*/
.col-centered{
    margin: 0 auto;
    float: none;
}


/**********************************************************/
/**********************************************************/
/********************global Search*************************/
/**********************************************************/
/**********************************************************/
.quickLinksList li ul li a{
  cursor: pointer;
}

.quickLinksList li a {
  cursor: default;
}


.selector-button-text {
    text-align: right;
}