<div class="modal fade" id="addUserPopup" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{{addNewModalTitle}}</h4>
            </div>
            <div class="modal-body">
                <p class="rabo-mg-bottom-20"><strong>{{addNewMessage}}</strong></p>
                <form name="modalForm" class="form-horizontal rabo-text-left">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Employee Id:</label>
                        <div class="col-sm-9">
                            <input name="employeeId" required type="text" class="form-control rabo-input-220" ng-model="newEmployeeId"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label ">First name:</label>
                        <div class="col-sm-9">
                            <input name="firstName" required type="text" class="form-control rabo-input-220" ng-model="newFirstName"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Last name:</label>
                        <div class="col-sm-9">
                            <input name="lastName" required type="text" class="form-control rabo-input-220" ng-model="newLastName"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Email:</label>
                        <div class="col-sm-9">
                            <input name="email" required type="email" class="form-control rabo-input-220" ng-model="newEmail"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Department:</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control rabo-input-220" ng-model="newDepartment"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Country:</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control rabo-input-220" ng-model="newCountry"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Function Title:</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control rabo-input-220" ng-model="newJob"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Location:</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control rabo-input-220" ng-model="newLocation"/>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn rabo-btn rabo-btn-blue" data-dismiss="{{modalForm.$valid ? 'modal' : ''}}" ng-click="modalForm.$valid && save()">OK</button>                
                        <button type="button" class="btn rabo-btn rabo-btn-blue" data-dismiss="modal">Cancel</button>
                    </div>

                </form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal add action -->
