<div>
    <strong>Quick links</strong>
    <ul class="quickLinksList">
        <li>
            <a>Flagging Rules</a>
            <ul>
                <li>
                    <a>Libor Rules</a>
                </li>
                <li>
                    <a>General UK Rules</a>
                    <ul>
                        <li><a>Fraud words</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            <a>Groups</a>
            <ul>
                <li><a>UK Compliance</a></li>
            </ul>
        </li>
        <li>
            <a>Status</a>
            <ul>
                <li><a>Reviewed</a></li>
                <li><a>Closed</a></li>
                <li><a>To Be Reviewed</a></li>
            </ul>
        </li>
    </ul>
</div>