<!-- INFO SECTION -->
<h1>Activity Details</h1>

<div class="row  rabo-mg-bottom-20" ng-show="eventFound"><!-- Showed when error or success event is found -->
    <div class="col-md-12 rabo-mg-bottom-10 alert text-center" ng-class="{'alert-success': (eventIsSuccess), 'alert-danger': (!eventIsSuccess)}" role="alert">{{eventMessage}}<button ng-click="eventFound=!eventFound" type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>
</div><!-- /.end -->

<div class="row rabo-mg-bottom-20">
    <div class="rabo-mg-bottom-20">
        <div data-info-section-field ng-repeat="(key, value) in auditInfo"></div>
    </div>
</div><!-- /.info section -->

<div ><hr></div>
<h2 ng-if="hasInteractionObject">Object details</h2>
<div class="row rabo-mg-bottom-20">
    <div class="rabo-mg-bottom-20">
        <div data-info-section-field ng-repeat="(key, value) in interactionObjectInfo"></div>

        <!-- TABLE GENERATOR - See directive tableGenerator.js for more info -->
        <div ng-repeat="tableInfo in tableData">
            <div class="col-md-12" ng-if="tableInfo">
                <h3>{{tableInfo.name | translate}}</h3>
            </div>

            <div>
                <div data-table-generator table-data="tableInfo.data" ng-if="tableInfo.data"></div>
            </div><!-- /.table generator -->
        </div>
    </div>
</div>

