<!-- INFO SECTION -->
<header-search></header-search>

<div class="row  rabo-mg-bottom-20" ng-show="eventFound">
    <div class="col-md-12 rabo-mg-bottom-10 alert text-center" ng-class="{'alert-success': (eventIsSuccess), 'alert-danger': (!eventIsSuccess)}" role="alert">{{eventMessage}}<button ng-click="eventFound=!eventFound" type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>
</div>

<!-- TOP ACTION BUTTONS -->
<div class="row  rabo-mg-bottom-20" ng-hide="status !== false"><!-- Info when action download started -->
    <div class="col-md-12 rabo-mg-bottom-10 rabo-color-gray text-center">Starting download, please wait ...</div>
</div><!-- /.end -->
<div class="row rabo-mg-bottom-20">
  <div class="col-md-6">
    <button type="button" ng-click="selectPage()" class="btn pull-left rabo-btn rabo-btn-blue">Select Page</button>
  </div>
  <div class="col-md-6">
    <button type="button" class="btn pull-right rabo-btn rabo-mg-left-10" data-toggle="modal" data-target="#deletePopup" ng-disabled="btnDisabled" ng-click="prepareDeleteModal($event)">Delete</button>
    <button type="button" class="btn pull-right rabo-btn rabo-mg-left-10" ng-click="newExportFromSavedSearch()" ng-disabled="countCheckedItems !== 1">Schedule Export</button>
  </div>
</div><!-- /.top action buttons -->

<!-- PAGINATION -->
<div class="row">
    <div class="col-md-5">
    </div>
    <div class="col-md-4">
        <ul uib-pagination ng-show="itemsPerPage<footerData.getResultInfo().resultsCount" total-items="footerData.getResultInfo().resultsCount" ng-model="bigCurrentPage" max-size="maxSize" class="pagination rabo-color-blue rabo-clear-border rabo-clear-bg" boundary-links="true" ng-change="pageChanged()" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo" items-per-page="itemsPerPage"></ul>
    </div>
    <div class="col-md-3">
        <ul class=" navbar-right pagination">
            <li>
                <div>
                    <strong style="color:#333">Page Size:</strong>&nbsp;
                    <select style="display: inline; width:70px" ng-model='itemsPerPage' ng-change="updatePageSize()" class="form-control" ng-options="item for item in itemsPerPageOptions">
                    </select>
                </div>
            </li>
        </ul>
    </div>
</div><!-- /.pagination -->


<!-- TABLE GENERATOR - better to have table in template -->
<div class="row">
    <div data-table-generator ng-if="tableData"></div>
</div>

<!-- PAGINATION -->
<div class="row">
    <div class="col-md-5">
    </div>
    <div class="col-md-4">
        <ul uib-pagination ng-show="itemsPerPage<footerData.getResultInfo().resultsCount" total-items="footerData.getResultInfo().resultsCount" ng-model="bigCurrentPage" max-size="maxSize" class="pagination rabo-color-blue rabo-clear-border rabo-clear-bg" boundary-links="true" ng-change="pageChanged()" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo" items-per-page="itemsPerPage"></ul>
    </div>
    <div class="col-md-3">
        <ul class=" navbar-right pagination">
            <li>
                <div>
                    <strong style="color:#333">Page Size:</strong>&nbsp;
                    <select style="display: inline; width:70px" ng-model='itemsPerPage' ng-change="updatePageSize()" class="form-control" ng-options="item for item in itemsPerPageOptions">
                    </select>
                </div>
            </li>
        </ul>
    </div>
</div><!-- /.pagination -->

<!-- BOTTOM ACTION BUTTONS -->
<div class="row rabo-margin-top-5">
  <div class="col-md-6">
    <button type="button" ng-click="selectPage()" class="btn pull-left rabo-btn rabo-btn-blue">Select Page</button>
  </div>
  <div class="col-md-6">
    <button type="button" class="btn pull-right rabo-btn rabo-mg-left-10" data-toggle="modal" data-target="#deletePopup" ng-disabled="btnDisabled" ng-click="prepareDeleteModal($event)">Delete</button>
    <button type="button" class="btn pull-right rabo-btn rabo-mg-left-10" ng-click="newExportFromSavedSearch()" ng-disabled="countCheckedItems !== 1">Schedule Export</button>
  </div>
</div><!-- /.bottom actions buttons -->

<!-- POPUPS -->
<div data-delete-modal></div>
<div data-contextual-help title="'Manage Searches Help'" data-content="'resources/help/savedSearchHelp.html'"></div>
<!-- END POPUPS -->
