<div>

  <div class="container">

    <button ng-click="save()">
      Save
    </button>
    <br/> <br/>

    <button ng-click="update()">
      Update
    </button>
    <br/> <br/>
    <button ng-click="get()">
      Get
    </button>
    <br/> <br/>
    <button ng-click="getAll()">
      Get All
    </button>
    <br/> <br/>
    <button ng-click="delete()">
      Delete
    </button>
    <br/> <br/>
    <button ng-click="addMember()">
      Add Member
    </button>
    <br/> <br/>
    <button ng-click="removeMember()">
      Remove Member
    </button>

  </div>
</div>
</div>
<br />
